@import "tailwindcss";
/* Inter google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --kc-green: #4CAF4F;
    --kc-green-dark: #3A8D3A;
}
* {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "glitz";
    src: url(/public/fonts/glitz-webfont.woff2) format("woff2"),
        url(/public/fonts/glitz-webfont.woff) format("woff");
    font-style: normal;
    font-weight: normal;
}

button {
    cursor: pointer;
}